/* Edit Sesuai bagian teman-teman */
/* HEADER */






/* HEADER-UTAMA */






/* EXTRA 1 */
.extra1 {
  font-family: arial;
  text-align: center;
}

.heading {
  padding-bottom: 30px;
}

.heading h1 {
  font-size: 50px;
  font-family: impact;
}

.heading h2 {
  font-weight: normal;
  font-size: 25px;
  padding: 0px 30px;
  margin:auto;
}

.learn {
  display: inline-block;
  padding: 15px 60px;
  border-radius: 50px;
  cursor: pointer;
  border: 3px solid #0066ff;
  transition: all 0.7s;
  color: #0066ff;
}

.learn:hover {
  background-color: #0066ff;
  color: white;
  border: 3px solid white;
}








/* EXTRA 2 */

.extra2{
    max-width: 1440px;
    width: auto;
    height: 600px;
    background-color:#f9fbfe;
}

.member-card-judul{
    text-align: center;
    padding-top: 20px;
    margin-left: 300px;
    margin-right: 300px;
    color: #2b546a;
    border-bottom: #2b546a solid 5px;
    padding-bottom: 10px;
}

.memcard-all{
    display: inline-flex;
    text-align: center;
}

.memcard-container{
    background-color: white;
    width: 250px;
    height: 300px;
    border-radius: 10%;
    margin-top: 50px;
    margin-left:10px;
    margin-right:10px;
    flex: auto;
}

.memcard-container:hover{
    background-color: #e5ecf5;
}

.memcard-container:active{
    background-color: #8be0e6;
}

.memcard-profile{
    text-align: center;
}

.memcard-name{
    text-align: center;
    color: #2b546a;
    margin:2px;
}

.memcard-name h3{
    padding-top: 5px;
}

.memcard-sosmed {
    width: 250px;
    height: 30px;
    display: inline-block;
    text-align: center;
}

.fa{
    color: #2b546a;
    padding: 10px 20px;
    
}

.fa:active{
    color: #2b546a;
}

.memcard-footer{
    display: block;
    text-align: center;
    margin-top: 40px;
}

.memcard-profile img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 20px;
}

.align-text{
    text-align: center;
}

.memcard-footer span{
    color: red;
}

/* FOOTER */
footer {
  /*padding-top: 30px;*/
  position:fixed;
  bottom:0;
  /*background-color: rgba(34, 49, 52, 0.9);*/
  /*background: linear-gradient(to top, #33ccff 0%, #ccffff 100%);*/
  background: linear-gradient(to top, #ccffff 0%, #ffffff 100%);
  height: 100px;
  width: 100%;
}

.footer{
	display:flex;
	flex:auto; /*Added per 25-04-2020*/
}

.footer-left{
	/*float:left;*/
	width:15%;
	/*border:1px solid black;*/
}

.footer-left img {
	margin-top:-10px;
	width: 125px;
}

.footer-mid{
	/*float:left;*/
	padding-top:25px;
	padding-left:20px;
	padding-right:20px;
	width:55%;
	/*border:1px solid black;*/
}

.footer-mid ul{
	list-style-type:none;
	display:flex;
}

.footer-mid ul li{
	/*float:left;*/
	/*padding-left:100px;*/ /*Comment 25-04-2020*/
	flex:auto;
}

.footer-mid ul li a{
	text-decoration:none;
	color:#b3aeb5;
	font-size: 15px;
}

.footer-mid ul li a:hover{
	text-decoration:none;
	color:#3443a1;
	font-size: 15px;
	transition:0.5s;
}

.footer-right{
	/*float:right;*/
	padding-top:10px;
	width:30%;
	/*border:1px solid black;*/
}

.footer-right ul{
	list-style-type:none;
	display:flex;
	margin: auto;
}

.footer-right ul li{
	padding-bottom:3px;
	color: #b3aeb5;
	font-size: 15px;
	/*padding-right:15px;
	padding-left:10px;*/
	flex:auto;
}

.footer-right ul li a{
	text-decoration:none;
	padding-bottom:3px;
	color: #b3aeb5;
	font-size: 15px;
	transition:0.5s;
}

.footer-right ul li a:hover{
	text-decoration:none;
	padding-bottom:3px;
	color: #3443a1;
	font-size: 15px;
	transition:0.5s;
}

.fa{
	width:15px;
	height:15px;
}

.footer-right p {
	color: #b3aeb5;
	font-size: 15px;
	text-align:center;
}

/* Untuk Smartphone */ 
@media (max-width: 670px) {
	.heading h2 {
		font-size: 20px;
	}
	
	.footer{
		display:flex;
	}
	
	/*Footer Left*/
	.footer-left{
		width:20%;
	}
	.footer-left img{
		width:95px;
		margin-top:3px;
	}
	
	/*Footer Mid*/
	.footer-mid{
		width:40%;
	}
	.footer-mid ul{
		display:flex;
		flex-direction:column;
		margin-top:-5px;
	}
	.footer-mid ul li{
		
	}
	.footer-mid ul li a{
		font-size:10px;
	}
	.footer-mid ul li a:hover{
		font-size:10px;
	}
	
	/*Footer Right*/
	.footer-right{
		width:40%;
		display:flex;
		flex-direction:column;
		padding-top:20px;
	}
	.footer-right p{
		text-align:left;
		font-size:10px;
		padding:0;
		margin:0;
	}
	.footer-right ul{
		flex-direction:column;
		padding:0;
		margin:0;
	}
	.footer-right ul li{
		padding:0;
	}
	.footer-right ul li a{
		font-size:10px;
		text-align:left;
	}
	.footer-right ul li a:hover{
		font-size:10px;
		text-align:left;
	}
	.fa{
		font-size:10px;
		width:10px;
		height:10px;
	}
	
}

@media (max-width: 1000px) {
	.footer{
		display:flex;
	}
	
	/*Footer Left*/
	.footer-left{
		width:20%;
	}
	.footer-left img{
		width:95px;
		margin-top:3px;
	}
	
	/*Footer Mid*/
	.footer-mid{
		width:40%;
	}
	.footer-mid ul{
		display:flex;
		flex-direction:column;
		margin-top:-5px;
	}
	.footer-mid ul li{
		
	}
	.footer-mid ul li a{
		font-size:10px;
	}
	.footer-mid ul li a:hover{
		font-size:10px;
	}
	
	/*Footer Right*/
	.footer-right{
		width:40%;
		display:flex;
		flex-direction:column;
		padding-top:20px;
	}
	.footer-right p{
		text-align:left;
		font-size:10px;
		padding:0;
		margin:0;
	}
	.footer-right ul{
		flex-direction:column;
		padding:0;
		margin:0;
	}
	.footer-right ul li{
		padding:0;
	}
	.footer-right ul li a{
		font-size:10px;
		text-align:left;
	}
	.footer-right ul li a:hover{
		font-size:10px;
		text-align:left;
	}
	.fa{
		font-size:10px;
		width:10px;
		height:10px;
	}
}
