/* Edit Sesuai bagian teman-teman */

body{
    font-family: 'Josefin Sans', sans-serif;
    width: auto;
    height: fit-content;
    margin: 0 0;
}

*{
    box-sizing: border-box;
    margin: 0 0;
}

a{
  text-decoration: none;
}


/* HEADER */






/* HEADER-UTAMA */

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.header-utama {
    background-image: url(background1.jpg);
    background-size: cover;
    background-position: center center;
    padding-top: 140px;
    padding-bottom: 140px;
    color: white;
    height: 380px;
}

.top-wrapper {
    text-align: center;

}

.top-wrapper img {
    margin-top: 60px;
    width: 60px;

}

.top-wrapper h1 {
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
    font-size: 64px;
    margin-top: -5px;
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.9);

}

.top-wrapper p {
    color: white;
    font-size: 16px;
    font-family: monospace;
    margin-top: -40px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
}

.btn {
    display: inline-block;
    padding: 10px 60px;
    border-radius: 24px;
    margin-top: 12px;
    opacity: 1;
    color: white;
    border: 2px solid white;
    background-color: transparent;
    transition: 0.5s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);

}

.btn:hover {
    border: none;
    background-color: #0066FF;

}

@media(max-width : 670px) {
    .btn {
        padding: 10px 80px;
    }

    .top-wrapper h1 {
        font-size: 54px;
    }

    .header-utama {
        height: 280;
    }
}




/* EXTRA 1 */
.extra1 {
  font-family: arial;
  text-align: center;
}

.heading {
  padding-bottom: 30px;
}

.heading h1 {
  font-size: 50px;
  font-family: impact;
  animation-name: example;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.heading h2 {
  font-weight: normal;
  font-size: 25px;
  padding: 0px 30px;
  margin:auto;
}

.learn {
  display: inline-block;
  padding: 15px 60px;
  border-radius: 50px;
  cursor: pointer;
  border: 3px solid #0066ff;
  transition: all 0.7s;
  color: #0066ff;
  text-decoration: none;
}

.learn:hover {
  background-color: #0066ff;
  color: white;
  border: 3px solid white;
}








/* EXTRA 2 */

.extra2{
    max-width: 1440px;
    width: auto;
    height: 600px;
    background-color:#f9fbfe;
}

.member-card-judul{
    text-align: center;
    padding-top: 20px;
    margin-left: 300px;
    margin-right: 300px;
    color: #2b546a;
    border-bottom: #2b546a solid 5px;
    padding-bottom: 10px;
}

.memcard-all{
    display: inline-flex;
    text-align: center;
}

.memcard-container{
    background-color: white;
    width: 250px;
    height: 300px;
    border-radius: 10%;
    margin-top: 50px;
    margin-left:10px;
    margin-right:10px;
    flex: auto;
}

.memcard-container:hover{
    background-color: #e5ecf5;
}

.memcard-container:active{
    background-color: #8be0e6;
}

.memcard-profile{
    text-align: center;
}

.memcard-name{
    text-align: center;
    color: #2b546a;
    margin:2px;
}

.memcard-name h3{
    padding-top: 5px;
}

.memcard-sosmed {
    width: 250px;
    height: 30px;
    display: inline-block;
    text-align: center;
}

.fa{
    color: #2b546a;
    padding: 10px 20px;
    
}

.fa:active{
    color: #2b546a;
}

.memcard-footer{
    display: block;
    text-align: center;
    margin-top: 40px;
}

.memcard-profile img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 20px;
}

.align-text{
    text-align: center;
}

.memcard-footer span{
    color: red;
}

/* FOOTER */
footer {
  /*padding-top: 30px;*/
  /*position:fixed;*/
  bottom:0;
  /*background-color: rgba(34, 49, 52, 0.9);*/
  /*background: linear-gradient(to top, #33ccff 0%, #ccffff 100%);*/
  /*background: linear-gradient(to top, #ccffff 0%, #ffffff 100%);*/
  background-color: #e5ecf5;
  height: 120px;
}

.footer{
	display:flex;
	flex:auto; /*Added per 25-04-2020*/
}

.footer-left{
	/*float:left;*/
	width:15%;
	/*border:1px solid black;*/
}

.footer-left img {
	margin-top:-5px;
	width: 125px;
}

.footer-mid{
	/*float:left;*/
	padding-top:50px;
	padding-left:20px;
	padding-right:20px;
	width:55%;
	/*border:1px solid black;*/
}

.footer-mid ul{
	list-style-type:none;
	display:flex;
}

.footer-mid ul li{
	/*float:left;*/
	/*padding-left:100px;*/ /*Comment 25-04-2020*/
	flex:auto;
}

.footer-mid ul li a{
	text-decoration:none;
	color:#b3aeb5;
	font-size: 15px;
}

.footer-mid ul li a:hover{
	text-decoration:none;
	color:#3443a1;
	font-size: 15px;
	transition:0.5s;
}

.footer-right{
	/*float:right;*/
	padding-top:40px;
	width:30%;
	/*border:1px solid black;*/
}

.footer-right ul{
	list-style-type:none;
	display:flex;
	margin: auto;
}

.footer-right ul li{
	padding-bottom:3px;
	color: #b3aeb5;
	font-size: 15px;
	/*padding-right:15px;
	padding-left:10px;*/
	flex:auto;
}

.footer-right ul li a{
	text-decoration:none;
	padding-bottom:3px;
	color: #b3aeb5;
	font-size: 15px;
	transition:0.5s;
}

.footer-right ul li a:hover{
	text-decoration:none;
	padding-bottom:3px;
	color: #3443a1;
	font-size: 15px;
	transition:0.5s;
}

.fa{
	width:15px;
	height:15px;
}

.footer-right p {
	color: #b3aeb5;
	font-size: 15px;
	text-align:center;
}
